.myHdr{
    text-align: center;
}
img{
    border-radius: 10px;
}
.ImageContainer{
    background-color: green;
    float: left;
    text-align: center;
    display: flex;
    border-radius: 10px;
}
.ImageContainer a{
    display: flex;
    bottom: 0;
}
.ImageContainer:hover {
    border-radius: 10px;
    transform: scale(1.5);
}
.ListContainer{
    margin: 30px;
    background-color: blue;
}
