.myHdr{
    text-align: center;
}

p {
    color:blueviolet;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.canvasContainer{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    gap: 30px; /* Space between the canvases */
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 90vh; /* Adjust this to control how tall the container can be */
    justify-items: center;
}

.animCanvas {
    width: 300px;
    height: 300px;
    padding-bottom: 0;
    border: 1px solid black;
}